
.book-tittle{
    overflow:hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-line-clamp:3;
}

.article-container{
	overflow-x: hidden;
}

.offcanvas-bottom {
	padding-bottom: 20px;
}

.offcanvas-bottom-setting{
	left: unset !important;
	right: 65px !important;
}

@media  screen and  (max-width: 991px) {
	/* body{
		padding-top: env(safe-area-inset-top); /* Ensure content is not under the status bar */
	} */
	
	.reader-page{
		height: 100vh;
	}
	 
	 .chpt-title{
		width: 80vw;
		float: left;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 0.7rem;
		text-align:left;
		margin: 0;
		/* height: 5vh; */
	}  
	.top-bar{
		height: 3vh;
		padding-top: 0.5vh;
	}

	.chpt-page{
		/* position: absolute; */
		/* position: fixed; */
    	/* right: 5vh; */
		/* float: right; */
		margin: 0;
		width: calc(20vw - 32px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 0.7rem;
		text-align:right
	}

	article{
		columns: calc(100vw - 32px) 1;
		column-gap: 16px;
		height: 94vh;
		transition: 0s;
	}
	

	
	.desktop-only-fixed{
		display: none;
	}
}


@media  screen and  (min-width: 992px) {
	.mobile-only{
		display: none;
	}

.chpt-title{
	position: fixed;
	top: 30px;
	left: 0;
	width: 100%;
	padding-left: 30%;
	padding-right: 30%;
	height: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	z-index: -1;

}
article{
    columns: calc(100vw - 32px) 1;
    column-gap: 16px;
    height: calc(100vh - 170px );
    transition: 0s;
}
.desktop-only-fixed{
	position: fixed;
}

/* .container{
	padding-bottom: 100px;
} */
/* main{
	height: 100vh;
}
.body{
	margin: 0;
} */

}


/*uploadify CSS Document */
.uploadify-button{
	display:inline-block;
	margin:12px;
	border:1px solid #808080;
	background-color: #707070;
	line-height:24px;
	border-radius:12px;
	padding:0 18px;
    font-size:12px;
    font-weight: 600;
    font-family: '微软雅黑';
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
}
.uploadify-button:hover{
	background-color: #888;
}
.uploadfile{
	width:0;
	}
.uploadify-queue .uploadify-queue-item{
	list-style-type:none;
	margin-top:10px;
	}
.uploadbtn,.delfilebtn{
	display:inline-block;
	border:1px solid #999;
	line-height:24px;
	border-radius:4px;
	padding:0 18px;
    font-size:12px;
	color:#666;
	text-decoration:none;
	}
.uploadbtn{
	display: none;/*默认不显示上传按钮，非自动上传时用js控制显示*/
}
/* .disabledbtn{

} */
.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent{
	font-size:12px;
	color:#666;
	margin-left:10px;
	}
.uploadify-progress{
	 display:inline-block; 
	 width:600px; 
	 height:10px; 
	 background-color:white;
	 border-radius:20px;
	 border:2px groove #666;
	 vertical-align:middle;
	 padding:0;
	 }
.uploadify-progress-bar{
	width:0;
	height:100%;
	border-radius:20px;
	background-color: #0099FF;
	}


.form-signin {width: 100%;max-width: 330px;padding: 15px;margin: 0 auto;}
.form-signin .checkbox {font-weight: 400;}
.form-signin .form-control {position: relative;box-sizing: border-box;height: auto;padding: 10px;font-size: 16px;}
.form-signin .form-control:focus {z-index: 2;}
.form-signin input[type="email"] {margin-bottom: -1px;border-bottom-right-radius: 0;border-bottom-left-radius: 0;}
.form-signin input[type="password"] {margin-bottom: 10px;border-top-left-radius: 0;border-top-right-radius: 0;}

.noa{
	display: block;
	color:#666;
	text-decoration:none;
}

.mob-icon{
	width: 2.5rem;
	height: 2.5rem;
	margin: -5px auto 4px auto;
	font-size: 2rem;
	text-align: center;
}

.mob-icon-text{
	font-size: 0.6rem;
	text-align: center; 
	display: block;
}


.book-item {
	width: 200px;
	height: 280px;
	/* background: #ccc; */
	list-style: none;
	text-align:center;
}


.book-name {
	background: #666;
	color: #FFF;
	height: 70%;
	width: 100%;
	position: absolute;
	padding: 8px;
	display: flex;
	align-items: center;
	
}
.book-name-text{

	font-size: 20px;
	margin: auto;
	overflow:hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 5;
	display: -webkit-box;
	-webkit-box-orient: vertical;

}

.book-content{
	top: 70%;
	height: 30%;
	width: 100%;
	position: absolute;
	background: #cccccc;
	padding: 4px;
}

.book-author {
	top: 0%;
	height: 33%;
	width: 100%;
	position: absolute;
}

.book-curr-chpt {
	top: 33%;
	height: 33%;
	width: 100%;
	position: absolute;

}

.book-last-chpt {
	top: 66%;
	height: 33%;
	width: 100%;
	position: absolute;

}



.grid-item {
	position: relative;
	width: 100%;
	padding-top: 140%; /* 1.5 times the width */
	overflow: hidden;
}
.grid-item-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}