<!DOCTYPE html>
<html >
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    {% load static %}

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"> -->
    <link rel="manifest" href="{% static 'manifest.json' %}">
    {% if user_setting %}
        <meta name="theme-color"  class="all-bg" content="{{user_setting.read_bg}}" />
    {%else %}
        <meta name="theme-color"  class="all-bg" content="#fff" />
    {% endif %}
    
    
    <link rel="stylesheet" type="text/css" href="{%  static 'bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap-5.2.0-beta1-dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'jquery-3.6.0.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    {% block header %}{% endblock %}
</head>

<body>

    {% block content %}{% endblock %}

    {% block body-bottom %}{% endblock %}
    
</body>

</html>

