

{% extends "base.html" %}

{% block title %}Reader{% endblock %}

{% block content %}



<main>
  {% include 'header.html' %}

  <div class="container">
    <div class="row">
      {% load static %}
      {% for book in book_list %}
        
          <div class="col-4 col-md-3 col-lg-2 mb-4">
            <a href="{% url 'reader:book' book.id %}" style="text-decoration: none;color:#333;">
            <div class="grid-item">
                <div class="grid-item-content bg-secondary">
                  <div class='book-name'>
                    <div class="book-name-text">
                      {{ book.name }}
                    </div>
                  </div>
                  <div class="book-content">
                    <div class='book-author'>作者：{{book.author}}</div>
                    <div class='book-curr-chpt'>当前阅读：{{book.cur_chapter_title}}</div>
                    <div class='book-last-chpt'>最新章节：{{book.last_chapter_title}}</div>
                  </div>
                    <!-- Your content here -->
                </div>
            </div>
          </a>
          </div>
        
      {% endfor %}


    </div>
  </div>
  
</main>
{% endblock %}

{% block body-bottom %}

{% endblock %}